
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Slim 3</title>
        <link rel="stylesheet" href="static/fontstyle.css">
        <link rel="stylesheet" href="static/normalize.css">
        <link rel="stylesheet" href="static/skeleton.css">

    </head>
    <body>
        <div class="container">
        <div class="header">
            <h1>Penilaian Jawaban Esai Otomatis</h1>
        </div>
            <label>File jawaban:</label>
            <input type="file" name="newfile"></br>
            Gunakan : &nbsp
            <input type="checkbox" id="wordnet" value="wordnet">WordNet<br>
            <button id="upload" onClick="uploadScore()">Nilai Jawaban</button>
            <button type="submit" id="clear" onClick="clearResult()">Reset Penilaian</button>
        <div id='result'>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js">
        </script>
        <script>
            function clearResult(){
                document.getElementById('result').innerHTML = "";
            }
            function uploadScore() {
                var file = $('input[name="newfile"').get(0).files[0];
                var stemming, wordnet;
                if($('#wordnet').is(":checked") == true){
                    wordnet = "true";
                } else {
                    wordnet = "false";
                }
                var formData = new FormData();
                formData.append('newfile', file);
                formData.append('wordnet', wordnet);
                $.ajax({
                    url: '/scoring',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data, textStatus, jqXHR) {
                        //alert(data);
                        var score = JSON.parse(data);
                        var res = "<table>";
                        res += '<tr>';
                        res += "<td class='t_header'>Nomor</td>";
                        res += "<td class='t_header'>Soal</td>";
                        res += "<td class='t_header'>Siswa</td>";
                        res += "<td class='t_header'>Score</td>";
                        res += '</tr>';
                        var count = 1;
                        for(var i = 0; i < score.length; i++){
                            var studentsScore = score[i].scoreSiswa;
                            for(var j = 0; j < studentsScore.length; j++){
                                var student = studentsScore[j];
                                res += '<tr>';
                                res += '<td>' + count + '</td>';
                                res += '<td>' + score[i].idSoal + '</td>';
                                res += '<td>' + student.idSiswa + '</td>';
                                res += '<td>' + student.score + '</td>';
                                count++;
                                res += '</tr>';
                            }
                        }
                        res += "</table>";
                        document.getElementById('result').innerHTML = res;
                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            }    
        </script>
        </div>
    </body>
</html>
